* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 98vh;
}
.container {
  display: flex;
  justify-content: center;
  margin: 1px;
  border: 2px solid rgba(205, 192, 192, 0.13);
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  padding: 2px;
  border: none;
  
}
.card-information{

  position: relative;
  border: 1px solid rgb(206, 206, 214);
  background-color: rgb(109, 105, 100);
  border-radius: 10px;
  padding: 2px;
  margin: 1px;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  display: flex;
  flex-wrap: wrap;
  border: none;
}
.content{
  display: flex;
  position:relative;
  flex-wrap: wrap;
  /* left: 11.5px; */
  height: 98%;
  border-radius: 10px;
  min-width: 100%;
  /* background-color: aqua; */
  border: none;
}
.box-content-up{
  
  display: flex;
  align-items: center;
  justify-content: center; 
  /* background-color:blueviolet; */
  /* display: flex; */
  /* max-height: 50vh; */
  padding: 1px;
  border: none;

  /* border: 5px solid rgb(206, 206, 214); */
}
.box-content-down{
  
  display: flex;
  align-items: center; 
  justify-content: center;
  /* background-color:rgb(43, 226, 64); */
  max-width: 100%;
  /* display: flex; */
  /* max-height: 50vh; */
  padding: 1px;
  border: none;
  /* border: 5px solid rgb(206, 206, 214); */
}
.content-wheater {
  display: flex;
  position: relative;
  border: none;
  /* background-color: antiquewhite; */
  max-height: 25vh;
  border-radius: 30px;
  padding: 2px; /* Asegura que no haya relleno interno */
  margin: 0;
  overflow:auto;
}
/* .content-news {
  position: relative;
  max-height: 72vh;
  border: none;
  border-radius: 30px;
  padding: 1px; 
  margin: 0;

} */


.taskBg {
  background-color:#282c34;
  border-radius: 6px;
  font-size: 22px;
  margin-bottom: 20px;
  padding: 5px 80px 5px 5px;
  text-align: left;
  position: relative;

}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 2px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 12px ;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #0d0e0d;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

 .mr-20 {
  margin-right: 20px;
} 

/* desde aqui es relacionado al banner news */

footer{
  /* display: grid; */
  justify-content: center;
  /* margin: 1px; */
  border: 2px solid rgba(205, 192, 192, 0.13);
  align-items: center;
  min-width: 100%;
  min-height: 9.7vh;
  display: flex;
  /* padding-bottom: 3.4vh; */
  border: none;
  /* height: 5%; */
  background-color: #282c34;;
}


/* // Styling */
.slider {
	min-height: 100px;
  width: 99%;
  border-radius: 10px;
  background-color:  #282c34;
	/* margin-top: 0.7vh; */
  /* padding: 0px 0px 0px 2px; */
	overflow: hidden;
	position: relative;
  display: flexbox;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.news{
  place-items: center;
  padding: 0;
  margin: 0;
  border: 2px solid #999;
  position: relative;
  background-color: rgb(109, 105, 100);
  width: 100%;
  min-height: 100px;
  transition: 3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news h6{
  font-size: 1.5rem;
}
.news:hover{
  transform: translateZ(20px);
}
.slide-track {
  max-width: 900px;
	display: flex;
  /* max-height: 60px; */
  border-radius: 15px;
	/* width: calc(250px * 50); */
  animation: scroll 40s linear infinite;
}

/* // Animation */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 9));
	}
}

.slide {
	max-height: 60px;
	min-width: 85%;
  display: flex;
  align-items: center;


  perspective: 100px;
}

.slider::before,
.slider::after {
		/* background: linear-gradient(to right, rgba(255,255,255,1)0%, rgba(255,255,255,0)100%); */
		content: "";
		height: 100%;
		position: absolute;
		width: 15%;
		z-index: 2;
	}
.slider::before {
		left: 0;
		top: 0;
} 
.slider::after {
		right: 0;
		top: 0;
		transform: rotateZ(-180deg);
}