* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.container {
  margin: 1px;
  border: 2px solid rgba(205, 192, 192, 0.13);
  min-width: 100%;
  height: 100vh;
  display: flex;
  padding: 2px;
  
}
.card-information{
  position: relative;
  border: 1px solid rgb(206, 206, 214);
  border-radius: 10px;
  padding: 2px;
  margin: 1px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.box-content{
  
  display: flex;
  /* display: flex; */
  max-height: 50vh;
  padding: 4px;
  /* border: 5px solid rgb(206, 206, 214); */
}
.content-wheater {
  width: 100%;
  max-height: 25vh;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 0; /* Asegura que no haya relleno interno */
  margin: 0;
  overflow: scroll;
  /* box-sizing: border-box; */
}
.content-news {
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 0 0 0 40px; /* Asegura que no haya relleno interno */
  margin: 0;
  overflow: scroll;
  /* box-sizing: border-box; */
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.card-panel{
  border: 7px solid rgba(232, 223, 223, 0.13);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.conteiner-information{
  padding: 10px 100px 10px 15px;
  width: 50%
}

/* .conteiner-information-important {
  display:flex;
} */
.taskBg {
  background-color: #212121;
  border-radius: 6px;
  font-size: 10px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  text-align: left;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 7px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #0d0e0d;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}