* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  margin: 1px;
  border: 2px solid rgba(205, 192, 192, 0.13);
  min-width: 100%;
  height: 100vh;
  display: flex;
  padding: 2px;
  border: none;
  
}
.card-information{

  position: relative;
  border: 1px solid rgb(206, 206, 214);
  background-color: rgb(109, 105, 100);
  border-radius: 10px;
  padding: 2px;
  margin: 1px;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  display: flex;
  flex-wrap: wrap;
  border: none;
}
.content{
  display: flex;
  position:relative;
  flex-wrap: wrap;
  /* left: 11.5px; */
  height: 100%;
  border-radius: 10px;
  min-width: 100%;
  /* background-color: aqua; */
  border: none;
}
.box-content-up{
  
  display: flex;
  align-items: center;
  justify-content: center; 
  /* background-color:blueviolet; */
  /* display: flex; */
  /* max-height: 50vh; */
  padding: 1px;
  border: none;

  /* border: 5px solid rgb(206, 206, 214); */
}
.box-content-down{
  
  display: flex;
  align-items: center; 
  justify-content: center;
  /* background-color:rgb(43, 226, 64); */
  max-width: 100%;
  /* display: flex; */
  /* max-height: 50vh; */
  padding: 1px;
  border: none;
  /* border: 5px solid rgb(206, 206, 214); */
}
.content-wheater {
  display: flex;
  position: relative;
  border: none;
  /* background-color: antiquewhite; */
  max-height: 25vh;
  border-radius: 30px;
  padding: 2px; /* Asegura que no haya relleno interno */
  margin: 0;
  overflow:auto;
}
.content-news {
  position: relative;
  /* max-width:50% ; */
  max-height: 72vh;
  border: none;
  /* background-color: aquamarine; */
  border-radius: 30px;
  padding: 1px; /* Asegura que no haya relleno interno */
  margin: 0;
  overflow:scroll;
  /* box-sizing: border-box; */
}
.news{
  background-color: #282c34;
  border-radius: 10px;
  position: relative;
  /* overflow: scroll; */
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.taskBg {
  background-color: #212121;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 4px;
  padding: 5px 5px 5px 5px;
  text-align: left;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 12px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #0d0e0d;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

 .mr-20 {
  margin-right: 20px;
} 